############
# IMP. The below secrets/tokens/apis should not be stored in version control
############
doppler_token            = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
spaces_access_key_id     = "xxxxxxxxxxxxxxxxxxxx"
spaces_secret_access_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
